p {
	color: snow;
	background: black;
	font-style: bold;
	text-align: center;
}

h1 {
	text-shadow: 2px 2px #ff0000;
}

ul {
	color: chocolate;
	background-color: cornsilk;
	font-style: italic;
	text-align: center;
}

ol {
	color: crimson;
	background-color: darkgrey;
	font-style: initial;
	text-align: center;
}